<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--Enter file path name in this format
         senti = C:\\Users\\user\\Location\\SentiWordNet_3.0.0_20130122.txt
         anew = C:\\Users\\user\\Location\\ANEW\\ANEW2010All.txt"
         davies = C:\\Users\\user\\Location\\twitter_sentiment_list.csv -->

  <!--if you are not going to put in all files for example only putting in senti 
 	        and anew do not leave davies blank only put in the file paths that you have
       example only have
         senti = ...
         davies = ...-->
  <appSettings>
    <add key="senti" value="..."/>
    <add key="anew" value="..."/>
    <add key="davies" value="..."/>
  </appSettings>
</configuration>